//main-header

.main-header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
  }
}

.main-header-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.main-header__link {
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  padding: 8px 15px;
  box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  @include fonts_main;
  color: $color_white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;

  &.main-header__link--sign-in {
    @media (max-width: $desktop_width) {
      display: none;
    }
  }

  @media (min-width: $desktop_width) {
    display: none;

    &.main-header__link--sign-in {
      display: block;
    }
  }
}

.main-header__nav-list {
  display: none;

  @media (min-width: $desktop_width) {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    & a {
      color: $color_black;
    }

    & li:not(:last-child) {
      padding-right: 40px;
    }
  }
}

.main-header__butger-menu {
  cursor: pointer;
  width: 24px;
  height: 20px;
  & span {
    display: block;
    background-color: $color_black;
    width: 24px;
    height: 3px;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 5.5px;
    }

    &:nth-child(2) {
      background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
    }
  }

  @media (min-width: $desktop_width) {
    display: none;
  }
}

//hero-block

.hero-block {
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: $tablet_width) {
      display: flex;
      flex-direction: row;
      padding-top: 70px;
    }

    @media (min-width: $mobile_width_only) {
      & img {
        padding-top: 30px;
      }
    }

    @media (min-width: $desktop_width) {
      display: flex;
      justify-content: space-between;

      & img {
        width: 553px;
        height: 378px;
        margin-right: -100px;
      }
    }
  }
}

.hero-block__wrapper {
  @media (min-width: $tablet_width) {
    text-align: start;
  }
}

.hero-block__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $color_blue_water;
  line-height: 140%;
  padding-top: 45px;
  padding-bottom: 10px;
}

.hero-block__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  padding-bottom: 30px;

  @media (min-width: $tablet_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
  }
}

.hero-block__link {
  background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
  padding: 12px 30px;
  box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  color: $color_white;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 30px;
}

//about-app

.about-app {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    & .about-app__img-video {
      width: 470px;
      height: 271px;

      @media (min-width: $desktop_width) {
        width: 533px;
        height: 297px;
      }
    }

    @media (min-width: $desktop_width) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.about-app__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: start;
    align-self: flex-start;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 20px;
  }
}

.about-app__img-phone {
  @media (min-width: $tablet_width) {
    display: none;
  }
}

.about-app__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  @media (min-width: $tablet_width) {
    align-self: flex-start;
  }

  @media (min-width: $desktop_width) {
    justify-content: start;
  }
}

.about-app__name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  text-transform: uppercase;
  color: $color_blue_water;
  padding-bottom: 5px;
}

.about-app__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;

  @media (min-width: $tablet_width) {
    max-width: 268px;
  }
}

.about-app__wrapper-applink {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  padding-bottom: 80px;

  @media (min-width: $tablet_width) {
    align-self: flex-start;
  }

  @media (min-width: $desktop_width) {
    padding-bottom: 30px;
  }
}

//our-psychologists

.our-psychologists {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }
}

.our-psychologists__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;
  padding-bottom: 30px;

  @media (min-width: $tablet_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 50px;
  }
}

.our-psychologists__list {
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;

  @media (min-width: $desktop_width) {
    padding-bottom: 50px;
  }
}

.our-psychologists__item {
  cursor: pointer;
  padding: 10px 30px;
  background-color: $color_white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  @media (min-width: $tablet_width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  &.our-psychologists__item--active {
    box-shadow: 0px 4px 25px rgba(0, 185, 182, 0.25);
    color: $color_blue_water;
  }

  &:last-child {
    background: linear-gradient(225deg, #00b9b6 0%, #00cdac 100%);
    color: $color_white;

    & a {
      color: $color_white;
    }
  }
}

.our-psychologists__slider {
  width: 320px;
  height: 496px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 688px;
    height: 284px;
  }

  @media (min-width: $desktop_width) {
    width: 944px;
    height: 285px;
  }
}

.our-psychologists__slide {
  cursor: pointer;
  background-color: $color_white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 15px 15px 15px 15px;

  width: 320px;
  height: 396px;

  @media (min-width: $tablet-width) {
    width: 157px;
    height: 244px;

    & .our-psychologists__slide-userpic {
      width: 127px;
      height: 127px;

      @media (min-width: $desktop_width) {
        width: 142px;
        height: 142px;
      }
    }
  }

  @media (min-width: $desktop_width) {
    height: 245px;
  }

  & .our-psychologists__slider-wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    & img:last-child {
      align-self: flex-end;
      cursor: pointer;
    }
  }
}

.our-psychologists__pagination {
  position: absolute;
  top: 450px;

  & span.swiper-pagination-bullet {
    background-color: $color_blue_water;
    border-radius: 12px;
    width: 20px;
    height: 5px;
  }

  & span.swiper-pagination-bullet-active {
    background-color: $color_blue_water;
    border-radius: 12px;
    width: 30px;
    height: 5px;
  }
}

//our-help

.our-help {
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }

    @media (min-width: $desktop_width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.our-help__img-help {
  @media (min-width: $desktop_width) {
    width: 360px;
    height: 325px;
  }
}

.our-help__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 30px;

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 40px;
  }
}

.our-help__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;

  & .our-help__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: $desktop_width) {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
    }

    &:not(:last-child) {
      padding-bottom: 15px;
    }

    & img {
      padding-right: 10px;
    }
  }
}

//advantage

.advantage {
  background: rgba(0, 185, 182, 0.1);

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img:first-child {
      margin-top: -50px;
      padding-bottom: 30px;

      @media (min-width: $tablet-width) {
        margin-top: -150px;
      }

      @media (min-width: $desktop_width) {
        width: 211px;
        height: 423px;
        margin-top: -120px;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      column-gap: 40px;
    }

    @media (min-width: $tablet-width) {
      background-color: rgba(0, 185, 182, 0.1);
      border-radius: 24px;
    }

    @media (min-width: $desktop_width) {
      column-gap: 66px;
    }
  }
}

.advantage__wrapper {
  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.advantage__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: start;
    padding-top: 50px;
    max-width: 327px;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 40px;
    max-width: 500px;
  }
}

.advantage__item {
  padding-left: 10px;

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.advantage__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  padding-bottom: 5px;
  position: relative;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: $color_blue_water;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: -10px;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }
}

.advantage__item-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}

.advantage__list {
  padding-bottom: 40px;
  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
}

//specialists-selection

.specialists-selection {
  background-color: rgba(255, 168, 0, 0.1);
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      & .specialists-selection__wrapper {
        align-self: flex-start;
      }
    }
  }
}

.specialists-selection__title {
  padding-top: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  text-align: center;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
  }

  @media (min-width: $desktop_width) {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }
}

.specialists-selection__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  color: $color_blue_water;
  padding-bottom: 30px;
  @media (min-width: $tablet-width) {
    text-align: start;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
}

.specialists-selection__wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    & img {
      width: 317px;
      height: 332px;
    }
  }
}

.specialists-selection__list {
  @media (min-width: $desktop_width) {
    padding-left: 20px;
  }
}

.specialists-selection__item {
  padding-left: 15px;
  position: relative;
  &:not(:last-child) {
    padding-bottom: 40px;
  }
  &:nth-child(1)::before {
    content: "1";
    position: absolute;
    z-index: -1;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: $color_blue_water;
    opacity: 0.1;
    top: -20px;
    left: -10px;
  }

  &:nth-child(2)::before {
    content: "2";
    position: absolute;
    z-index: -1;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: $color_blue_water;
    opacity: 0.1;
    top: -20px;
    left: -10px;
  }

  &:nth-child(3)::before {
    content: "3";
    position: absolute;
    z-index: -1;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: $color_blue_water;
    opacity: 0.1;
    top: -20px;
    left: -10px;
  }

  @media (min-width: $desktop_width) {
    &:nth-child(1)::before {
      content: "1";
      position: absolute;
      z-index: -1;
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 100%;
      color: $color_blue_water;
      opacity: 0.1;
      top: -15px;
      left: -20px;
    }

    &:nth-child(2)::before {
      content: "2";
      position: absolute;
      z-index: -1;
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 100%;
      color: $color_blue_water;
      opacity: 0.1;
      top: -15px;
      left: -20px;
    }

    &:nth-child(3)::before {
      content: "3";
      position: absolute;
      z-index: -1;
      font-style: normal;
      font-weight: 700;
      font-size: 100px;
      line-height: 100%;
      color: $color_blue_water;
      opacity: 0.1;
      top: -15px;
      left: -20px;
    }
  }

  & .specialists-selection__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 10px;
    position: relative;

    @media (min-width: $tablet-width) {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
    }

    @media (min-width: $desktop_width) {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
    }
  }

  & .specialists-selection__item-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333333;

    @media (min-width: $tablet-width) {
      line-height: 150%;
    }

    @media (min-width: $desktop_width) {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
    }
  }
}

//about-services

.about-services {
  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-services__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-top: 80px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
  }

  @media (min-width: $desktop_width) {
    padding-bottom: 50px;
  }
}

.about-services__list {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop_width) {
    max-width: 153px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-bottom: 50px;
  }

  & .about-services__item {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $tablet-width) {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }

    @media (min-width: $desktop_width) {
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }

    & span {
      color: $color_yellow;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;

      @media (min-width: $tablet-width) {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 100%;
      }

      @media (min-width: $desktop_width) {
        line-height: 10px;
      }
    }

    @media (min-width: $desktop_width) {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  }
}

.about-services__wrap {
  @media (min-width: $desktop_width) {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;

    & img {
      width: 593px;
      height: 330px;
    }
  }
}

.about-services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  & .about-services__selection-type {
    padding: 10px 20px 20px 10px;
    background-color: $color_white;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    display: flex;
    justify-content: space-between;

    & img {
      align-self: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }

    & .about-services__selection-type-title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      padding-bottom: 10px;
    }

    & .about-services__selection-type-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #333333;
    }
  }
}

//how-works

.how-works {
  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.how-works__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
  }
}

.how-works__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & .how-works__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 10px;
  }

  & .how-works__item-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-bottom: 40px;
    color: #333333;
  }
}

.how-works__link {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: $color_blue_water;
  background-color: $color_white;
  box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  border: 1px solid $color_blue_water;
}

.how-works__list {
  @media (min-width: $desktop_width) {
    display: none;
  }
}
.how-works__list-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  @media (min-width: $desktop_width) {
    display: none;
  }

  & .how-works__list-nav__item input {
    display: none;

    &:checked + label {
      background-color: $color_blue_water;
      color: $color_white;
    }
  }

  & label {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    border-radius: 50%;
    background: rgba(0, 185, 182, 0.1);
    color: $color_blue_water;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
  }

  & .how-works__list-nav__item:not(:last-child) {
    padding-right: 40px;
    position: relative;

    &::after {
      content: "";
      width: 30px;
      height: 3px;
      background-color: rgba(0, 185, 182, 0.25);
      position: absolute;
      border-radius: 5px;
      left: 40px;
      top: 15px;
    }
  }
}

.how-works__col-one,
.how-works__col-two {
  & .how-works__col-one-item,
  & .how-works__col-two-item {
    display: flex;

    &:first-child {
      padding-bottom: 100px;
    }

    & .how-works__item-title {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      width: 276px;
      padding-bottom: 10px;
    }

    & .how-works__item-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      max-width: 276px;
    }
  }

  @media (max-width: $desktop_width) {
    display: none;
  }
}

.how-works__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 45px;
}

.how-works__col-one {
  & .how-works__item-subtitle span {
    color: #00b9b6;
  }
}
//services

.services {
  & .container {
    display: flex;
    flex-direction: column;
  }
}

.services__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-gap: 20px;
  }
}

.services__title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  padding-top: 80px;
  padding-bottom: 30px;

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    padding-bottom: 50px;
  }
}

.services__type-audio {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 24px;
  background: #00b9b6;
  color: $color_white;
  padding: 30px 20px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.services__type-audio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  padding-bottom: 10px;
}

.services__type-audio-price {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  padding-bottom: 30px;

  & span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;

    & span {
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
    }
  }
}

.services__type-audio-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.services__type-audio-item {
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  & img {
    align-self: flex-start;
    padding-right: 10px;
  }

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

.services__type-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: $color_blue_water;
  background-color: $color_white;
  box-shadow: 0px 15px 30px rgba(220, 232, 243, 0.25);
  border-radius: 12px;
  padding: 12px 103px;

  @media (min-width: $desktop_width) {
    padding: 12px 30px;
  }
}

.services__type-chat {
  border-radius: 24px;
  background: rgba(0, 185, 182, 0.1);
  padding: 20px;
  margin-bottom: 80px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
    margin-bottom: 40px;
  }
}

.services__type-chat-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}

.services__type-chat-price {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  padding-bottom: 30px;

  & span {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }

  @media (min-width: $desktop_width) {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;

    & span {
      font-weight: 400;
      font-size: 24px;
      line-height: 140%;
    }
  }
}

.services__type-chat-list {
  padding-bottom: 30px;
}

.services__type-chat-item {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  & img {
    align-self: flex-start;
    padding-right: 10px;
  }

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

//feedback-block

.feedback-block__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  padding-bottom: 30px;
}

.feedback-block__slide {
  padding: 20px;
  background-color: $color_white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

.feedback-block__slide-wrapepr {
  display: flex;
  padding-bottom: 20px;

  & img {
    padding-right: 15px;
  }
}

.feedback-block__slide-name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 5px;
}

.feedback-block__slide-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.feedback-block__slide-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
}

.feedback-block__slider {
  padding-bottom: 80px;
  position: relative;
}

.feedback-block__pagination {
  position: absolute;
  top: 450px;

  & span.swiper-pagination-bullet {
    background-color: $color_blue_water;
    border-radius: 12px;
    width: 20px;
    height: 5px;
  }

  & span.swiper-pagination-bullet-active {
    background-color: $color_blue_water;
    border-radius: 12px;
    width: 30px;
    height: 5px;
  }
}

//about-children

.about-children {
  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
  }
}

.about-children__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    align-self: flex-start;
  }
}

.about-children__list {
  @media (min-width: $desktop_width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }

  & .about-children__item:not(:last-child) {
    padding-bottom: 30px;
  }

  & .about-children__item {
    @media (min-width: $desktop_width) {
      width: 466px;
    }
    & .about-children__item-title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      padding-bottom: 10px;
      color: #0e0e0f;

      @media (min-width: $tablet-width) {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
      }

      @media (min-width: $desktop_width) {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }

    & .about-children__item-subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #333333;

      @media (min-width: $tablet-width) {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }

    & .about-children__item-list {
      list-style: disc;
      padding-left: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #333333;

      @media (min-width: $tablet-width) {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

//main-footer

.main-footer {
  & .container {
    @media (min-width: $desktop_width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main-footer__list-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  column-gap: 30px;
  row-gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  & a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    color: #333333;
  }

  @media (min-width: $tablet-width) {
    max-width: 396px;
  }
}

.main-footer__list-social {
  display: flex;
  justify-content: flex-start;

  column-gap: 20px;
  padding-bottom: 40px;
}

.main-footer__list-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  padding-bottom: 50px;

  & a {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #333333;

    & img {
      align-self: flex-start;
      padding-right: 10px;
    }
  }
}
